<header>
  <h1>Add Assignment</h1>
  <% if @error %>
    <h3>There was an error adding the assignment. Please try again.</h3>
  <% end %>
</header>

<form action="/assignment_add">
  <input type="text" placeholder="Title" name="title">
  <input type="text" placeholder="Description" name="description">
  <input type="text" placeholder="Github Link" name="github_link">
  <input type="submit" value="Add Assignment">
</form>