<header>
  <h1>Add Beer</h1>
  <% if @error %>
    <h3>There was an error adding the beer. Please try again.</h3>
  <% end %>
</header>

<form action="/beer/add">
  <input type="text" placeholder="Beer Name" name="beer_name">
  <select name="brewery_id">
    <% @all_breweries.each do |brewery| %>
      <option value="<%= brewery.id %>"><%= brewery.id %>. <%= brewery.brewery_name %></option>
    <% end %>
  </select>
  <input type="submit" value="Add Beer">
</form>

<nav>
  <ul>
    <li><a href="beers_menu">Beer menu</a></li>
    <li><a href="/homepage">Homepage</a></li>
  </ul>
</nav>
